<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        margin: auto;
        display: grid;
        place-items: center;
        font-family: sans-serif;
      }

      .time {
        margin-top: 20px;
        font-size: 24px;
      }

    </style>
  </head>
  <body>
    <h1>QR Code Generator</h1>
    <div id="qrcode"></div>
    <div class="time" id="time">00:00:00</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <script>
      const qrcode = document.getElementById("qrcode");
      const timeElement = document.getElementById("time");

      function getRoomIdFromURL() {
        const path = window.location.pathname;
        const parts = path.split("/");
        return parts[parts.indexOf("qrcode") + 1];
      }

      const roomId = getRoomIdFromURL();
      const url = window.location.origin + `/join/${roomId}`;

      const qr = new QRCode(qrcode);
      qr.makeCode(url);

      // Function to update time
      function updateTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        timeElement.textContent = `${hours}:${minutes}:${seconds}`;
      }

      // Update time every second
      setInterval(updateTime, 1000);

      // Initialize the time display
      updateTime();
    </script>
  </body>
</html>
